body{
      font-family: 'Roboto', sans-serif;
      color: $main-text;
      font-style: normal;   
}
ul,li,p, 
h1,h2,h3{
      margin: 0;
    }
    li{
          list-style: none;
    }
*, ::after, ::before {
      box-sizing: border-box;
  }
  ul{
        padding-left: 0px;
  }
.container{
      width: 1200px; 
      padding:0 15px;
      margin: 0 auto;

}
a{
      text-decoration: none;
}
